/*
    Custom css
*/

body {
    font-size: 16px;
}

div.page {
    margin-top: -6px;
}

.header-container .header-top {
    background: transparent;
    border-bottom: 0;
}

.header-container.header_style_1 .header-logo .logo {
    /*line-height: 18px;
    padding: 0;
    height: 48px;
    margin-top: -4px;*/
    max-width: 290px;
    display: inline-block;
    
}

.header-container.header_style_1 .header-logo .logo {
    margin: 0;
    line-height: 86px;
    padding-top: 0px;
}

.tp-caption {
    text-shadow: none !important;
}

.header-container.header_fixed_menu.active-sticky .nav-primary-container .sticky-logo a {
    display: block;
    line-height: 36px;
    padding: 2px 0 0;
    margin-top: 3px;
}

.footer-container {
    font-size: 14px;
    
}

.footer-logo {
    max-width: 340px;
    margin: 0.5em auto;
}

.footer-container .arw-carousel .arw-banner .arw-banner-image img {
    height: 120px; 
    width: auto;
    display: block;
    margin: 0 auto;
}

.active-sticky .nav-primary-container {
    background-color: white;
}

.header-mini-cart .fa,
.arw-toggle-control .fa {
    color: black;
}

.not_cat_search {
    display: none;
}

.btn-primary {
    color: #333333;
    border-color: #333333;
    cursor: pointer;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.service-title {
    font-weight: bolder;
}

.service-content {
    padding: 1em 0;
    
}

.arw-services-box.style-6 .service-content {
    font-size: 1em;
}

.arw-services-box.style-2 .service-content {
    font-style: normal;
    font-size: 12px;
    font-family: "Titillium Web", Arial;

}

/* Home Page */

#our-products {
    background-color: white;
    padding-bottom: 20px;   
}

#our-products .arw-title h2 {
    color: #333333;
    text-transform: uppercase;
    margin-top: 20px;
}

.home-call-to-action-row a {
    display: inline-block;
    position: relative;
    z-index: 999;
}

.home-call-to-action-content a.link-read-more {
   display: block;
   text-align: left;
}

.home-call-to-action-row a:hover {
    color: black;
}

.home-call-to-action-content {
    box-sizing: border-box;
    padding: 1em 2em;
}

.arw-banner-title {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 2000;
    padding: 5px 20px;
    background-color: #e6e6e6;
    
}

.as-seen-in {
    background-color: #e6e6e6;
    text-align: center;
}

.as-seen-in span {
    text-transform: uppercase;
    font-size: 19px;
    margin: 2em 0 1em 0;
    color: black;
    display: inline-block;
}

.arw-banner:not(.style-6):not(.style-1):not(.style-2):not(.style-5):hover .arw-banner-image:before {
    opacity: 0.1;
}

.row-bg-black {
    background-color: #1A1A1C;
    color: #e6e6e6;
}

.row-bg-white {
    background-color: white;
    color: #1A1A1C;
}

.row-bg-light {
    background-color: #e6e6e6;
    color: #1A1A1C;
}

.kube-full-row {
    font-size: 20px;
}

.kube-full-row .row-bg-black .arw-services-box .service-title,
.kube-full-row .row-bg-black .arw-services-box .service-content,
.kube-full-row .row-bg-black .arw-services-box h4,
.kube-full-row .row-bg-black .arw-services-box p{
     color: #e6e6e6;
}
.kube-full-row .row-bg-white .arw-services-box .service-title,
.kube-full-row .row-bg-white .arw-services-box .service-content,
.kube-full-row .row-bg-white .arw-services-box h4,
.kube-full-row .row-bg-white .arw-services-box p,
.kube-full-row .row-bg-light .arw-services-box .service-title,
.kube-full-row .row-bg-light .arw-services-box .service-content,
.kube-full-row .row-bg-light .arw-services-box h4,
.kube-full-row .row-bg-light .arw-services-box p{
     color: #1A1A1C;
}


.kube-full-row .arw-services-box {
    box-sizing: border-box;
    padding-left: 2em;
}

.kube-full-row .arw-services-box .kube-row-big-text p {
    font-size: 1.5em;
    font-weight: lighter;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.kube-full-row .arw-services-box .service-content { 
    font-size: 1em;
    font-weight: lighter;
}

.kube-full-row .arw-services-box .service-content { 
    font-size: 1em;
    font-weight: lighter;
}

.kube-content-centered {
    text-align: center;
}

.kube-full-row ul {
    margin: 1em auto;
    
}


.arw-title h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: bold;
}
/* Catalogue View */
.block-layered-nav,
.block-subscribe,
.ratings {
    display: none;
}

.products-grid .price-box .regular-price {
    color: white;
}

.grid-style-2 .products-grid .product-info {
    background: rgba(118,171,66,0.7);
}

.link-compare {
    display: none !important;
}

.toolbar .sorter {
    
}

.toolbar .sorter .sort-by,
.toolbar .pager-select{
    display: none;
}

/* Product View*/
div.product-view {
    max-width: 1000px;
    margin: 0 auto;
}
#product_tabs_product_additional {
    display: none;
}

/* Cart */

.block-message-cart {
    display: none;
}

.data-table.cart-table th {
    font-weight: normal;
    letter-spacing: 1px;
    color: #333333;
    background-color: #d9d9d9;
}

.data-table.cart-table tbody tr {
    border-top: 1px solid #d9d9d9;
}

.data-table .first.odd, .box-account .data-table .odd {
    background: #e2e2e2;
}

.data-table .first.odd, .box-account .data-table .even {
    background: #e9e9e9;
}

.data-table.cart-table .td-edit, .data-table.cart-table .td-remove {
    padding-left: 0;
    padding-right: 2em;
    width: 20px;
}

#checkoutSteps .section .step-title {
    border-bottom: 1px solid #d9d9d9;
}

#checkoutSteps li.section.allow.active .step-title {
    background-color: #d9d9d9;
}

ol#checkoutSteps.opc {
    max-width: 800px;
    margin: 0 auto;
}

#paypal_direct_cc_type_cvv_div label, #paypal_direct_cc_type_exp_div label {
    display:block;
}

#paypal_direct_cc_type_cvv_div label {
    padding-top: 10px;
}
.arw_sebian_block_footer {
	padding-top: 50px;
}
.footer-container {
	padding-top: 0;
}

#our-products.margin-bottom-20 {
    margin-bottom: 0;
}

.arw_sebian_home_furniture_block_banner_1 {
    background-color: #E6E6E6;
}

.arw-page-title.has-page-title {
    padding: 10px 0;
}

.arw-page-title .arw_breadcrumbs  {
    padding-top: 0;
}

.availability.out-of-stock {
    float: none !important;
}

#outofstock_email {
    margin-bottom: 10px;
}
#contentofnotification #padding_div {
    color: #73A83D;
}

.product-tabs-content-inner a {
    text-decoration: underline;
}

.product-view .product-essential .availability {
    display: block;
    float: none;
}

.block-contact-top h4 {
    margin-top: 0;

}
@media only screen and (max-width: 767px) {
    .forcefullwidth_wrapper_tp_banner {
        margin-top: -410px !important;

    }


    .tp-caption.large_text_mobile {
        text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.9)  !important;
    }
    .tp-caption.medium_grey_mobile {
        font-weight: bold;
        text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.7)  !important;
    }
}


@media only screen and (max-width: 480px) {
    .page_contact_style_2 .block-contact-form, .page_contact_style_2 .block-contact-top {
        width: 100%;
    }
}


/* Success */

body.checkout-onepage-success div.buttons-set {
    text-align: center;
}

body.checkout-onepage-success div.buttons-set button.button {
    float: none;
}